.fz14 {
    font-size: 14px;
    line-height: 21px;
}
.fz24 {
    font-size: 24px;
    line-height: 30px;
}
.fz34 {
    font-size: 34px;
    line-height: 40px;
}

.fz40 {
    font-size: 40px;
    line-height: 46px;
}